



<div class="parent" [ngSwitch]="selectedTest">
  <div class="div1"> 
    <div *ngSwitchCase="'search'">
      <p-iconField iconPosition="left">
        <p-inputIcon styleClass="pi pi-search" />
        <input type="text" (keyup)="onSearch($event)" pInputText placeholder="Search name..." />
      </p-iconField>
      <div *ngIf="loading">Loading...</div>
      <div *ngIf="error">{{ error }}</div>
    </div>
    <button *ngSwitchCase="'combineLatest'"
    pButton 
    pRipple 
    label="click here to start" 
    (click)="modelService.combine()"
    class="p-button-success">
</button>
  </div>
  <div class="div2"> 
    <p-selectButton [options]="tests" [(ngModel)]="selectedTest" optionLabel="label" optionValue="value"></p-selectButton>
  </div>
  <div class="div3">

    <p-table *ngSwitchCase="'search'" [value]="results" class="table">
      <ng-template pTemplate="header">
          <tr>
              <th>Name</th>
              <th>Task</th>
              <th>Completed</th>
          </tr>
      </ng-template>
      <ng-template pTemplate="body" let-task>
          <tr>
              <td>{{ task.name }}</td>
              <td>{{ task.title }}</td>
              <td>{{ task.completed }}</td>
          </tr>
      </ng-template>
    </p-table>
    <app-combine-latest *ngSwitchCase="'combineLatest'"/>
   </div>
  </div>