<div>
  <p-iconField iconPosition="left">
    <p-inputIcon styleClass="pi pi-search" />
    <input type="text" (keyup)="onSearch($event)" pInputText placeholder="Search" />
  </p-iconField>
  <p-splitButton 
    label="Save" 
    (click)="save('info')" 
    [model]="tests" />
  <div *ngIf="loading">Loading...</div>
  <div *ngIf="error">{{ error }}</div>
</div>

<p-table [value]="results" [tableStyle]="{ 'min-width': '50rem' }">
  <ng-template pTemplate="header">
      <tr>
          <th>Id</th>
          <th>Name</th>
          <th>Tas</th>
      </tr>
  </ng-template>
  <ng-template pTemplate="body" let-task>
      <tr>
          <td>{{ task.id }}</td>
          <td>{{ task.title }}</td>
          <td>{{ task.completed }}</td>
      </tr>
  </ng-template>
</p-table>